Layout-Breaker
=

Usage
==
- Drag & drop this link to the [layout breaker](javascript:@@JS_HERE@@) to you bookmark bar
- Navigate to the page which layout you want to test
- Click the boormarklet
- Profit!!!!11!one!